@import './Mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    margin:0px;
    padding:0px;
}
* {
    font-family: 'Ubuntu', sans-serif;
}
a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
:target {
    scroll-margin-top: .8em;
}
.container {
    width: 1335px;
    max-width: 90%;
    margin: 0px auto;
}

svg {
    position: relative;
    .svg-zoomIn {
        position: absolute;
      animation: zoomIn 1s linear;
    }
    .svg-backInLeft {
        position: absolute;
        animation: backInLeft 1s linear;
    }
    .svg-backInRight {
        position: absolute;
        animation: fadeIn 1s linear;
    }
    
}

.btn {
    border: none;
    outline: none;
    height: 48px;
    padding: 0px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    cursor: pointer;
    transition: all .2s;
    &:hover {
        transform: scale(1.1);
    }
    &.shadow {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &.primary {
        background-color: $colorPrimary;
    }
    &.secondary {
        background-color: $colorSecondary;
    }
    &.orange {
        background-color: $colorOrange;
    }
    &.outline {
        &.white {
            border: 1px solid #FFF;
        }
        &.primary {
            background-color: transparent;
            color: $colorPrimary;
            border: 1px solid $colorPrimary;
        }
    }
}